language: python
python:
  - 3.5
branches:
  only:
    - master
notifications:
  email: false

sudo: true
dist: trusty

addons:
  apt:
    packages:
      - libatlas3-base
      - libstdc++6
      - libstdc++-4.9-dev

before_install:
  - pwd
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
  - sudo ln -s -f bash /bin/sh
  - bash continuous-integration/travis/install.sh

# Install packages
install:
  - export PATH="$HOME/miniconda/miniconda/bin:$PATH"
  - source activate test-environment
  - pip install -r requirements.txt
  - which python
  - conda list

# Run test
script:
  - travis_wait 120 "coverage run --source=aligner setup.py test"

# Calculate coverage
after_success:
  - coveralls

cache:
  directories:
    - $HOME/miniconda
    - $HOME/tools
