language: python
python:
  - 3.8
branches:
  only:
    - main
notifications:
  email: false

dist: bionic

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++6
      - gfortran
      - libpulse-mainloop-glib0
      - libopenblas-base

# Install packages
install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda create -q -n test-environment -c conda-forge python=$TRAVIS_PYTHON_VERSION sox openfst pynini ngram baumwelch
  - conda activate test-environment
  - pip install -r requirements.txt
  - pip install -q coveralls coverage pytest setuptools
  - which python
  - which sox
  - conda list
  - python -m montreal_forced_aligner.command_line.thirdparty download
  - ls $HOME/Documents/MFA/thirdparty/bin -al
  - $HOME/Documents/MFA/thirdparty/bin/compute-mfcc-feats --help
  - $HOME/Documents/MFA/thirdparty/bin/ivector-extractor-est --help
  - $HOME/Documents/MFA/thirdparty/bin/ivector-extractor-init --help
  - $HOME/Documents/MFA/thirdparty/bin/sum-lda-accs --help
  - bash continuous-integration/travis/install.sh

# Run test
script:
  #- coverage help
  #- travis_wait 120 coverage run --source=montreal_forced_aligner setup.py test
  - coverage run --concurrency=multiprocessing setup.py test
  - coverage combine

# Calculate coverage
after_success:
  - coveralls

after_failure:
  - ls tests/data/generated/sickcorpus/corpus_data/split2/log
  - cat tests/data/generated/sickcorpus/corpus_data/split2/log/make_mfcc.0.log
  - ls tests/data/generated/temp/flac/corpus_data/split1/log
  - cat tests/data/generated/temp/flac/corpus_data/split1/log/make_mfcc.0.log

cache:
  directories:
    - $HOME/tools
