language: python
python:
  - 3.5
branches:
  only:
    - master
notifications:
  email: false

sudo: true
dist: trusty

addons:
  apt:
    packages:
      - libatlas3-base

before_install:
  - pwd
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
  - sudo ln -s -f bash /bin/sh
  - bash continuous-integration/travis/install.sh

# Install packages
install:
  - export PATH="$HOME/miniconda/miniconda/bin:$PATH"
  - source activate test-environment
  - which python
  - conda list

before_script:
  - ls $HOME/tools/kaldi
  - cp -Rf $HOME/tools/kaldi/ thirdparty/bin/
  - ls thirdparty/bin
  - export LD_LIBRARY_PATH=$HOME/tools/kaldi:$LD_LIBRARY_PATH

# Run test
script:
  - travis_wait 2 "coverage run --source=aligner setup.py test"

# Calculate coverage
after_success:
  - coveralls

cache:
  directories:
    - $HOME/miniconda
    - $HOME/tools
